@import "src/styles/resources.scss";

.dashboard {
  padding: 0 5rem;

  .infoContainer {
    margin: 2rem 0;
    padding: 20px;
    display: flex;
    align-items: center;
    border: 1px solid $color-grey-6;
    border-radius: 8px;

    .hide {
      display: none;
    }
  }
  .search {
    width: 30%;
    margin: 2rem 0;
  }

  .modalContainer {
    .modal {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        font-weight: 600;
      }
    }
  }
}
