@import "src/styles/resources.scss";

.container {
  background-color: $caselton-green;
  max-height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-grey-1;

  .typoGraphy {
    color: $color-grey-1;
  }

  .primary {
    margin-left: 10rem;
    width: 50%;
    display: flex;
    align-items: center;
    column-gap: 5rem;

    .logo {
      color: inherit;
    }

    .links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      column-gap: 5rem;
    }
    a {
      text-decoration: none;
    }
  }

  .secondary {
    margin-right: 10rem;
    align-items: center;
    justify-content: flex-end;
  }
}
